@import './normalize.scss';
@import './base.scss';
@import './icon.scss';
@import './ui.scss';
// float
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

// clearfix
.clearfix {
    @extend %clearfix;
}

.fs-24 {
    font-size: 24px;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.color-main {
    color: $color-main;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.select-car-btn {
    display: block;
    width: 240px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    background-color: $color-main;
}

.user-container {
    padding: 0 30px;
}


/* user router-link */

.group-links {
    a {
        position: relative;
        display: block;
        margin: 0 -30px;
        padding-left: 30px;
        height: 64px;
        line-height: 60px;
        color: rgba(255, 255, 255, .4);
        border-bottom: 1px solid rgba(255, 255, 255, .03);
        font-size: 15px;
    }
    .icon {
        margin: 0px 16px -10px 0px;
        width: 30px;
        height: 30px;
    }
    .arrow:after {
        position: absolute;
        content: "";
        right: 30px;
        top: 50%;
        margin-top: -7px;
        width: 10px;
        height: 10px;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-right: 1px solid rgba(255, 255, 255, .1);
        @include webkit(transform, rotate(45deg));
        @include webkit(box-sizing, border-box);
    }
}